<style>
* {
    box-sizing: border-box;
}
.row{
width:100%;
}
h4{
text-align:center;

}
h1{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 20px;
left:6px;
}
h2{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 23px;
left:6px;
}
h3{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 27px;
left:6px;

}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 2px solid black;
    width:31%;
    padding: 5px;
     margin-right:4px;
    
}
}
@media (min-width:768px) and (max-width:991px){
	.col-md-6,.col-md-12}
	.col-md-6{
		float:left;
		border: 2px solid black;
	    	width:48%;
        	padding: 5px;
    		margin-right:4px;
        margin-bottom:4px;
	}
	.col-md-12{
		float:left;
		border: 2px solid black;
	    	width:100%;
        	padding: 5px;
    		margin-right:4px;
        margin-bottom:4px;
	}
		
}

@media (max-width: 767px){
	.col-sm-12{
		float:left;
		border: 2px solid black;
		width=100%;
		padding: 5px;
    		margin-bottom:4px;
}
}
</style>

