<style>
* {
    box-sizing: border-box;
}
h1{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 20px;
left:6px;
}
h2{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 25px;
left:6px;
}
h3{
width:100px;
border: 2px solid black;
font-size: 15pt;
text-align:center;
position:relative;
float: right;
bottom: 27px;
left:6px;

}
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    border: 2px solid black;
    width:33%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
}
@media (min-width:768px) and (max-width:991px){
	.col-md-2{
		float:left;
		border: 2px solid black;
	    	width:50%;
        	padding: 5px;
    		margin: 5px;
    		box-sizing: border-box;
}
}
@media (max-width: 767px){
	.col-sm-1{
		float:left;
		border: 2px solid black;
		width=100%;
		padding: 5px;
    		margin: 5px;
    		box-sizing: border-box;
}
}
</style>

