
#headernav{
  background-color: blue;
  border-radius: 0;
  border: 0;
  width: auto;
  color: white;
}
#nav-list {
  margin-top: 10px;
  text-align: center;
  color: white;
}
#nav-list a{
  text-align: center;
}
#nav-list a:hover{
  background-color: aqua;
}

.jumbotron{
  margin-top: 10px;
}
