.navbar-header{
  background-color: grey;
  border-radius: 0;
  border: 0;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a{
  color: aqua;
  text-align: center;
}
#nav-list a:hover{
  background-color: aqua;
}
